/* Основная вёрстка страницы */
.container {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Flex-секции */
.top,
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.box {
  background: #fff;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
}

/* Мобильный вид */
@media (max-width: 768px) {

  .top,
  .bottom {
    flex-direction: column;
  }

  .box {
    flex: 1 1 100%;
    max-width: 100%;
  }
}